<settings>
	<category label="[COLOR red][B]Add Path[/B][COLOR white] - Please fill in [COLOR red][B]ALL[/B] [COLOR white]settings.[/COLOR]">
		<setting label="Name of plugin folder [COLOR red][B]NO SPECIAL EFFECTS ALLOWED[/B][/COLOR]" type="text"  id="name_of_plugin_folder" default="" />	
		<setting label="Name of addon" type="text"  id="name_of_addon" default="" />
		<setting label="Addon's version number. [COLOR red][B]Use numbers and dots[/B][/COLOR]" type="text"  id="addon_version_number" default="0.0.1" />		
		<setting label="Name of provider" type="text"  id="provider-name" default="" />   
		<setting label="Enter text for addon's summary" type="text"  id="sum_mary" default="" />	
		<setting label="Enter text to describe addon" type="text"  id="desc" default="" />
		<setting type="sep" />		
		<setting label="Local path to addon's [COLOR red][B]icon.png[/B][/COLOR]" type="file"  id="addon_icon" default="" /> 	
		<setting label="Local path to addon's [COLOR red][B]fanart.jpg[/B][/COLOR]" type="file"  id="addon_fanart" default="" />		
		<setting type="sep" />	
		<setting label="Local path to [COLOR red][B]m3u source file[/B][/COLOR]" type="file"  id="m3u_file" default="" />			
		<setting label="Local path to [COLOR red][B]xml source file[/B][/COLOR]" type="file"  id="xml_file" default="" />		
	</category>		
</settings>