<settings>
  <category label="Add File Path">
    <setting label="Path to XML File" type="file"  id="xml_file" default="" /> 
    <setting label="Path to M3U File" type="file"  id="m3u_file" default="" /> 	
    <setting label="URL to XML thumbnail" type="text"  id="thumb" default="" /> 	
  </category>
</settings>