<settings>
  <category label="Add M3U-XML">
    <setting label="Add URL to Remote M3U Playlist" type="text"  id="remote_m3u" default="" />
    <setting label="Add Path to Local M3U Playlist" type="file"  id="local_m3u" default="" /> 
    <setting label="[COLOR lime]Đường dẫn đến URL của XML Playlist[/COLOR]" type="text"  id="remote_xml" default="" />
    <setting label="[COLOR lime]Đường dẫn đến XML nằm trên máy[/COLOR]" type="file"  id="local_xml" default="" /> 	
  </category>
</settings>